<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ART</title>
    <link rel="shortcut icon" href="./assets/logoart.gif" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    
    
    <link rel="stylesheet" href="assets/css/ion.rangeSlider.min.css"/>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="assets/css/seat.css" />
    <link rel="stylesheet" href="assets/css/creditCardForm.css" />
    <link rel="stylesheet" href="assets/css/hotel.css" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />
  
  </head>

  <body>
    <div id="app-2">
    <v-app id="inspire">
      <div class="header">
        <div class="menu-nav animate__animated animate__slideInDown">
          <div class="top-social-bar">
            <ul class="social_icon" style="display: flex; padding: 0px;">
              <li>
                <a>
                  <img src="assets/social/Facebook.svg" class="facebook" />
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/social/twitter.svg" class="twitter" />
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/social/LinkedIn.svg" class="linkedin" />
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/social/Youtube.svg" class="youtube" />
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/social/Instagram.svg" class="instagram" />
                </a>
              </li>
            </ul>
            <div class="ticker-container">
              <div id="carousel-example-vertical" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <p class="ticker-headline">
                      <a href="#">
                        <strong>ART NEWS FLASH</strong> BUSINESS CONTINUITY PROMISE (COVID-19 SCENARIO) WORLD WIDE SUPPORT
                      </a>
                    </p>
                  </div>
                  <div class="item">
                    <p class="ticker-headline">
                      <a href="#">
                        <strong>Article Headline 2</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus eu odio fermentum tempus. Aliquam erat volutpat. Etiam arcu urna, lacinia sed dapibus sed, molestie ac mi.
                      </a>
                    </p>
                  </div>
                  <div class="item">
                    <p class="ticker-headline">
                      <a href="#">
                        <strong>Article Headline 3</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus eu odio fermentum tempus. Aliquam erat volutpat. Etiam arcu urna, lacinia sed dapibus sed, molestie ac mi.
                      </a>
                    </p>
                  </div>
                  <div class="item">
                    <p class="ticker-headline">
                      <a href="#">
                        <strong>Article Headline 4</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus eu odio fermentum tempus. Aliquam erat volutpat. Etiam arcu urna, lacinia sed dapibus sed, molestie ac mi.
                      </a>
                    </p>
                  </div>
                  <div class="item">
                    <p class="ticker-headline">
                      <a href="#">
                        <strong>Article Headline 5</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus eu odio fermentum tempus. Aliquam erat volutpat. Etiam arcu urna, lacinia sed dapibus sed, molestie ac mi.
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="contact-details" style="text-align: end; padding-top: 5px;">
              <i class="glyphicon glyphicon-phone-alt"style="
                  color: #d91718;
                  padding-right: 5px;
                  font-size: 13px;
                  padding-top: -2px;
                  cursor: pointer;
                "></i>
              <span style="font-size: 14px; font-weight: 500;">800278</span>
              <span class="user">
                <i class="fa fa-user-circle"></i>
                <span style="font-size: 13px;">My Account</span>
              </span>
            </div>
          </div>
          <div class="top-menu-bar">
            <div class="navigation-bar col-lg-10">
              <ul>
                <li>
                  <a data-search-widget="#flightSearch" data-toggle="tab" href="#flightSearch">
                    <i class="las la-plane ni"></i> <span>Flight</span>
                  </a>
                </li>
                <li>
                  <a class="active" data-toggle="tab" data-search-widget="#hotelSearch" href="#hotelSearch"> <i class="las la-bed ni"></i></i><span>Hotel</span></a>
                </li>
                <li>
                  <a> <i class="las la-mountain ni"></i><span>Holidays</span></a>
                </li>
                <li>
                  <a>
                    <i class="las la-map-marked-alt ni"></i><span>UAE Attractions</span></a
                  >
                </li>
                <li>
                  <a data-search-widget="#insuranceSearch" data-toggle="tab" href="#insuranceSearch">
                    <i class="las la-hand-holding-heart ni"></i> <span>Insurance</span></a>
                </li>
                <li>
                  <a> <i class="las la-tags ni"></i><span>Special Offers</span></a>
                </li>
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="las la-comments ni"></i><span>Our Services</span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Corporate Travel</a></li>
                    <li><a href="#">MICE Services</a></li>
                    <li><a href="#">Wellness</a></li>
                    <li><a href="#">Air Miles</a></li>
                  </ul>
                </li>
                <li>
                  <a> <i class="las la-comments ni"></i><span>Blogs</span></a>
                </li>
                <li style="width: auto;">
                  <a
                    ><b><i class="las la-search ni"></i></b
                    ><span>Search</span></a
                  >
                </li>
              </ul>
            </div>
            <div class="logo col-lg-2" style="text-align: center;">
              <div style="text-align: end;">
                <img src="./assets/logoart.gif" alt="Alogo" />
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="main_container no-home">
      <section class="breadcrumb-section hotelItenary-sec pt-0">
        <img
          src="assets/hotel/bg-2.jpg"
          class="bg-img img-fluid blur-up lazyload"
          alt=""
        />
        <div class="flight-details text-center">
          <p class="route flight-count">Hotel Itinerary</p>
          <!-- <p class="route">DUBAI (DXB) ⇌ PARIS (CDG)</p>
          <p class="other-details">Onward : 18/08/2020 | Return : 22/08/2020</p>           -->
        </div>
        <button class="btn back-btn"><i class="las la-arrow-left"></i> Back</button>
    </section>

      <div class="container flight-container flight-itenary-container">
        
        <div class="row">
            <div class="col-md-8">
              
                <v-stepper v-model="e1" class="mb-5">
                  <v-stepper-header>
                    <v-stepper-step :complete="e1 > 1" step="1">Itinerary</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step :complete="e1 > 2" step="2">Travellers</v-stepper-step>  
                    <v-divider></v-divider>
                    <v-stepper-step :complete="e1 > 3" step="3">Special Service Request</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step step="4">Payment</v-stepper-step>
                  </v-stepper-header>
              
                  <v-stepper-items>
                    <v-stepper-content step="1" class="px-3 py-3">
                      <div class="review-section px-3">
                        <div class="review_box">
                          <div class="flight_detail hotel_detail">
                            <div class="row">
                                <div class="col-md-3">
                                  <div class="hotel-img-sec">
                                    <img src="assets/hotel/result/3.jpg" class="img-fluid blur-up lazyloaded" alt="">
                                  </div>
                                </div>
                                <div class="col-md-9 px-0 hote-itinerary-detail">
                                  <h4>Al Maha International 
                                    <v-rating
                                      v-model="rating"
                                      background-color="orange lighten-3"
                                      color="orange"
                                      small
                                    ></v-rating></h4>
                                  <p>
                                    <i class="las la-map-marker"></i> C.R. No 1065923, P.O. Box: 57, P.C. 130, Al Ghubrah, Azaiba, OMAN, MUSCAT</p>
                                  <p><i class="las la-phone"></i> <label>Phone Number:</label> +968-24494949</p>
                                  <div class="hotel-cehckin">
                                    <p><i class="las la-landmark"></i> <label>Established:</label> 2009</p>
                                    <p><i class="las la-city"></i> <label>Rooms:</label> 70</p>
                                    <p><i class="las la-building"></i> <label>Floors:</label> 6</p>
                                  </div>
                                  <div class="hotel-cehckin">
                                    <p><i class="las la-calendar-check"></i> <label>Check In:</label> 30-Sep-2020, 14:00</p>
                                    <p><i class="las la-calendar-times"></i> <label>Check Out:</label> 03-Oct-2020, 12:00</p>
                                  </div>
                                </div>
                            </div>
                            <v-divider></v-divider>
                            <div class="row">
                              <div class="col-md-6">
                                <v-card outlined>
                                  <div class="form-group px-3 pt-3">
                                    <label>Email</label>
                                    <input type="text" class="form-control" />
                                  </div>
                                  <div class="form-group px-3">
                                    <label>Mobile No.</label>
                                    <input type="text" class="form-control" />
                                  </div>
                                  <v-card-actions>
                                    <v-btn color="error" block @click="guestLogin()">
                                      Continue as Guest <i class="las la-arrow-right"></i>
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </div>
                              <div class="col-md-6">
                                <v-card outlined>
                                  <div class="form-group px-3 pt-3">
                                    <label>Username</label>
                                    <input type="text" class="form-control" />
                                  </div>
                                  <div class="form-group px-3">
                                    <label>Password</label>
                                    <input type="password" class="form-control" />
                                  </div>
                                  <v-card-actions>
                                    <v-btn color="primary" block @click="loginAction()">
                                      <i class="las la-user"></i> Login & Continue
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </v-stepper-content>
              
                    <v-stepper-content step="2">
                      <!-- <h4>Adult 1</h4> -->
                      <div class="traveller-card-title">
                        <h4 class="dashboard-title mb-3">Adult 1</h4>
                        <v-btn v-if="isLoggedIn" rounded color="primary" small outlined @click="chooseTraveller()">Choose Traveller</v-btn>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Salutation</label>
                            <select class="form-control">
                              <option value="">Select</option>
                              <option v-for="(item, index) in salutation">{{item}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Given Name</label>
                            <input type="text" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Sur Name</label>
                            <input type="text" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Date of Birth</label>
                            <input type="date" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Country Code</label>
                            <select class="form-control">
                              <option value="">Select</option>
                              <option v-for="(item, index) in countryCode">{{item}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Contact No</label>
                            <input type="text" class="form-control" placeholder="55775577" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Airmiles</label>
                            <input type="text" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Passport No.</label>
                            <input type="text" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Passport Expiry</label>
                            <input type="date" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Nationality</label>
                            <select class="form-control">
                              <option value="">Select</option>
                              <option v-for="(item, index) in nationality">{{item}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>National ID</label>
                            <input type="text" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="row pt-2">
                        <div class="col-md-12">
                          <v-checkbox v-model="termsCheckbox">
                            <template v-slot:label>
                              <div>
                                I have read and agreed to the
                                <v-tooltip bottom>
                                  <template v-slot:activator="{ on }">
                                    <a
                                      target="_blank"
                                      href="#"
                                      @click.stop
                                      v-on="on"
                                    >
                                    Terms & Conditions
                                    </a>
                                  </template>
                                </v-tooltip>
                              </div>
                            </template>
                          </v-checkbox>
                        </div>
                      </div>
                      <div class="text-center pb-2">
                        <v-btn @click="e1 = 1"><i class="las la-arrow-left"></i> Previous</v-btn>
                        <v-btn color="error" @click="e1 = 3">
                          Continue <i class="las la-arrow-right"></i>
                        </v-btn>
                      </div>
                      
                    </v-stepper-content>
              
                    <v-stepper-content step="3">
                      <div class="form-group">
                        <textarea class="form-control" rows="6" placeholder="Enter your special request for the Hotel"></textarea>
                      </div>
                      
                      <div class="text-center pt-2 pb-2">
                        <v-btn @click="e1 = 2"><i class="las la-arrow-left"></i> Previous</v-btn>
                        <v-btn color="error" @click="e1 = 4">
                          Continue <i class="las la-arrow-right"></i>
                        </v-btn>
                      </div>
                      
                    </v-stepper-content>

                    <v-stepper-content step="4">
                      <div class="credit-card-form">
                        <div class="payment-title">
                          <h1>Payment Information</h1>
                      </div>
                      <div class="container preload">
                          <div class="creditcard">
                              <div class="front">
                                  <div id="ccsingle"></div>
                                  <svg version="1.1" id="cardfront" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                      x="0px" y="0px" viewBox="0 0 750 471" style="enable-background:new 0 0 750 471;" xml:space="preserve">
                                      <g id="Front">
                                          <g id="CardBackground">
                                              <g id="Page-1_1_">
                                                  <g id="amex_1_">
                                                      <path id="Rectangle-1_1_" class="lightcolor grey" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                                              C0,17.9,17.9,0,40,0z" />
                                                  </g>
                                              </g>
                                              <path class="darkcolor greydark" d="M750,431V193.2c-217.6-57.5-556.4-13.5-750,24.9V431c0,22.1,17.9,40,40,40h670C732.1,471,750,453.1,750,431z" />
                                          </g>
                                          <text transform="matrix(1 0 0 1 60.106 295.0121)" id="svgnumber" class="st2 st3 st4">0123 4567 8910 1112</text>
                                          <text transform="matrix(1 0 0 1 54.1064 428.1723)" id="svgname" class="st2 st5 st6">JOHN DOE</text>
                                          <text transform="matrix(1 0 0 1 54.1074 389.8793)" class="st7 st5 st8">Cardholder Name</text>
                                          <text transform="matrix(1 0 0 1 479.7754 388.8793)" class="st7 st5 st8">Expiration</text>
                                          <text transform="matrix(1 0 0 1 65.1054 241.5)" class="st7 st5 st8">Card Number</text>
                                          <g>
                                              <text transform="matrix(1 0 0 1 574.4219 433.8095)" id="svgexpire" class="st2 st5 st9">01/23</text>
                                              <text transform="matrix(1 0 0 1 479.3848 417.0097)" class="st2 st10 st11">VALID</text>
                                              <text transform="matrix(1 0 0 1 479.3848 435.6762)" class="st2 st10 st11">THRU</text>
                                              <polygon class="st2" points="554.5,421 540.4,414.2 540.4,427.9 		" />
                                          </g>
                                          <g id="cchip">
                                              <g>
                                                  <path class="st2" d="M168.1,143.6H82.9c-10.2,0-18.5-8.3-18.5-18.5V74.9c0-10.2,8.3-18.5,18.5-18.5h85.3
                                          c10.2,0,18.5,8.3,18.5,18.5v50.2C186.6,135.3,178.3,143.6,168.1,143.6z" />
                                              </g>
                                              <g>
                                                  <g>
                                                      <rect x="82" y="70" class="st12" width="1.5" height="60" />
                                                  </g>
                                                  <g>
                                                      <rect x="167.4" y="70" class="st12" width="1.5" height="60" />
                                                  </g>
                                                  <g>
                                                      <path class="st12" d="M125.5,130.8c-10.2,0-18.5-8.3-18.5-18.5c0-4.6,1.7-8.9,4.7-12.3c-3-3.4-4.7-7.7-4.7-12.3
                                              c0-10.2,8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5c0,4.6-1.7,8.9-4.7,12.3c3,3.4,4.7,7.7,4.7,12.3
                                              C143.9,122.5,135.7,130.8,125.5,130.8z M125.5,70.8c-9.3,0-16.9,7.6-16.9,16.9c0,4.4,1.7,8.6,4.8,11.8l0.5,0.5l-0.5,0.5
                                              c-3.1,3.2-4.8,7.4-4.8,11.8c0,9.3,7.6,16.9,16.9,16.9s16.9-7.6,16.9-16.9c0-4.4-1.7-8.6-4.8-11.8l-0.5-0.5l0.5-0.5
                                              c3.1-3.2,4.8-7.4,4.8-11.8C142.4,78.4,134.8,70.8,125.5,70.8z" />
                                                  </g>
                                                  <g>
                                                      <rect x="82.8" y="82.1" class="st12" width="25.8" height="1.5" />
                                                  </g>
                                                  <g>
                                                      <rect x="82.8" y="117.9" class="st12" width="26.1" height="1.5" />
                                                  </g>
                                                  <g>
                                                      <rect x="142.4" y="82.1" class="st12" width="25.8" height="1.5" />
                                                  </g>
                                                  <g>
                                                      <rect x="142" y="117.9" class="st12" width="26.2" height="1.5" />
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                      <g id="Back">
                                      </g>
                                  </svg>
                              </div>
                              <div class="back">
                                  <svg version="1.1" id="cardback" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                      x="0px" y="0px" viewBox="0 0 750 471" style="enable-background:new 0 0 750 471;" xml:space="preserve">
                                      <g id="Front">
                                          <line class="st0" x1="35.3" y1="10.4" x2="36.7" y2="11" />
                                      </g>
                                      <g id="Back">
                                          <g id="Page-1_2_">
                                              <g id="amex_2_">
                                                  <path id="Rectangle-1_2_" class="darkcolor greydark" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                                          C0,17.9,17.9,0,40,0z" />
                                              </g>
                                          </g>
                                          <rect y="61.6" class="st2" width="750" height="78" />
                                          <g>
                                              <path class="st3" d="M701.1,249.1H48.9c-3.3,0-6-2.7-6-6v-52.5c0-3.3,2.7-6,6-6h652.1c3.3,0,6,2.7,6,6v52.5
                                      C707.1,246.4,704.4,249.1,701.1,249.1z" />
                                              <rect x="42.9" y="198.6" class="st4" width="664.1" height="10.5" />
                                              <rect x="42.9" y="224.5" class="st4" width="664.1" height="10.5" />
                                              <path class="st5" d="M701.1,184.6H618h-8h-10v64.5h10h8h83.1c3.3,0,6-2.7,6-6v-52.5C707.1,187.3,704.4,184.6,701.1,184.6z" />
                                          </g>
                                          <text transform="matrix(1 0 0 1 621.999 227.2734)" id="svgsecurity" class="st6 st7">985</text>
                                          <g class="st8">
                                              <text transform="matrix(1 0 0 1 518.083 280.0879)" class="st9 st6 st10">CVV</text>
                                          </g>
                                          <rect x="58.1" y="378.6" class="st11" width="375.5" height="13.5" />
                                          <rect x="58.1" y="405.6" class="st11" width="421.7" height="13.5" />
                                          <text transform="matrix(1 0 0 1 59.5073 228.6099)" id="svgnameback" class="st12 st13">John Doe</text>
                                      </g>
                                  </svg>
                              </div>
                          </div>
                      </div>
                      <div class="form-container">
                          <div class="field-container">
                              <label for="name">Name</label>
                              <input id="name" maxlength="20" type="text">
                          </div>
                          <div class="field-container">
                              <label for="cardnumber">Card Number</label>
                              <!-- <span id="generatecard">generate random</span> -->
                              <input id="cardnumber" type="text" pattern="[0-9]*" inputmode="numeric">
                              <svg id="ccicon" class="ccicon" width="750" height="471" viewBox="0 0 750 471" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  
                              </svg>
                          </div>
                          <div class="field-container">
                              <label for="expirationdate">Expiration (mm/yy)</label>
                              <input id="expirationdate" type="text" pattern="[0-9]*" inputmode="numeric">
                          </div>
                          <div class="field-container">
                              <label for="securitycode">CVV</label>
                              <input id="securitycode" type="text" pattern="[0-9]*" inputmode="numeric">
                          </div>
                      </div>
                      </div>
                      <div class="text-center pb-2">
                        <v-btn @click="e1 = 3"><i class="las la-arrow-left"></i> Previous</v-btn>
                        <v-btn color="teal" dark @click="e1 = 1">
                          Pay AED 1584.00
                        </v-btn>
                      </div>
                      
                    </v-stepper-content>
                  </v-stepper-items>
                </v-stepper>
              
            </div>
            <div class="col-md-4">
              <div class="filter-sec review-section" id="tripSummary">
                <h4 class="filter-header">Fare Summary</h4>
                
                <div class="review_box">
                  <div class="priceBreak">
                    <p class="price-bold">Deluxe Room 1 (Adult-1 + Child-0)</p>
                  </div>
                  <div class="priceBreak">
                    <p>2 × Night(s)</p>
                    <p class="amountText">AED 1245.00</p>
                  </div>
                  <div class="priceBreak">
                    <p>Service Chrg (+)</p>
                    <p class="amountText">AED 0.00</p>
                  </div>
                  <div class="priceBreak">
                    <p>Discount (-)</p>
                    <p class="amountText">AED 0.00</p>
                  </div>
                  <div class="priceBreak">
                    <p>Room Fare</p>
                    <p class="amountText">AED 1245.00</p>
                  </div>
                  <v-divider class="mt-0"></v-divider>
                  <!-- <hr class="filter-separator"/> -->
                  <div class="priceBreak grandTotal">
                    <p>Grand Total</p>
                    <p class="amountText">AED 1245.00</p>
                  </div>
                </div>
              </div>
              
            </div>
        </div>
      </div>


    </div>

    <div class="footer">
      <div class="container-fluid" style="background-color: #2195c3;">
        <div class="row" style="padding-top: 18px; padding-bottom: 24px;">
          <div class="col-md-3" style="margin-right: 49px; padding-top: 24px;">
            <span style="color: white; margin-left: 73px;"
              >Subscribe Email Container</span
            >
          </div>
          <div class="col-lg-1" style="margin-top: 15px;">
            <span class="mail-icon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
          </div>
          <div id="input_container" class="col-lg-4">
            <input
              type="text"
              id="input"
              value=""
              placeholder="Your Email Address"
            /><span class="dividerContainer"></span>
            <i class="fa fa-paper-plane" aria-hidden="true" id="input_img"></i>
          </div>
          <div class="socialmediaContainer col-lg-3">
            <span class="socialicons">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>
            <span class="socialicons">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </span>
            <span class="socialicons">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
            <span class="socialicons">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="footer-top" style="background-color: #2195c3;">
        <div
          class="footerLinkContainer container"
          style="background-color: #2195c3;"
        >
          <div class="row">
            <div class="links-content col-lg-4" style="padding-left: 66px;">
              <h3 class="footerHeading">Help</h3>

              <div class="fontstyle">Contact Us</div>
              <br />
            </div>
            <div class="links-content col-lg-4" style="padding-left: 66px;">
              <h3 class="footerHeading">General</h3>
              <div class="fontstyle">About Us</div>
              <div class="fontstyle">Our Services</div>
              <div class="fontstyle">Privacy Policy</div>
              <div class="fontstyle">Terms & Conditions</div>
            </div>
            <div class="links-content col-lg-4" style="padding-left: 66px;">
              <h3 class="footerHeading">Subscribe</h3>
              <p class="fontstyle">
                Subscribe to receive great holiday deals, inspirational content
                and exclusive offers!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom" style="background-color: #2195c3;">
        <div class="container" style="max-width: 100%;">
          <div class="row">
            <div class="col-12">
              <div class="bottom-inner">
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-12">
                    <!-- Copyright -->
                    <div class="copyright">
                      <p
                        class="fontstyle"
                        style="color: #ffffff; font-size: 12px;"
                      >
                        Copyright Ⓒ 2020 by
                        <a href="#" style="color: #ffffff; font-size: 12px;"
                          >ART Travels.</a
                        >
                      </p>
                    </div>
                    <!--/ End Copyright -->
                  </div>
                  <div class="col-lg-3 col-md-3 col-12 text-right">
                    <p
                      class="fontstyle"
                      style="color: #ffffff; font-size: 12px;"
                    >
                      Powered By Convergent Technology
                      <a href="#" class="fontstyle" style="color: white;"></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-dialog v-model="mealDialog" scrollable max-width="70%">
      <v-card>
        <v-card-title>Select Meal</v-card-title>
        <v-card-text class="order-menu-section">
          <div class="order-section">
            <div class="order-items">
              <div v-for="item in mealsList">
                <div class="items" v-bind:class="{'non-veg': item.type === 'non-veg', 'veg': item.type === 'veg'}">
                  <h6>{{item.name}}
                    <small>{{item.ingredients}}</small>
                  </h6>
                  <h5>AED {{formatPrice(item.price)}}</h5>
                  <div class="addtocart_btn">
                    <number-input v-model="item.mealCount" :min="0" :max="10" inline controls></number-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </v-card-text>
        <v-card-actions class="text-right">
          <v-btn color="blue darken-1" text @click="mealDialog = false">
            Close
          </v-btn>
          <v-btn color="primary" @click="mealDialog = false">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="travellerDialog" scrollable max-width="600">
      <v-card>
        <v-card-title>Select Travellers</v-card-title>
        <v-card-text class="traveller-list">
          <v-list-item-group v-model="selectedTravellers" :multiple="travellerOption" active-class="">
            <v-list-item v-for="user in travellers">
              <template v-slot:default="{ active }">
                <v-list-item-action>
                  <v-checkbox :input-value="active"></v-checkbox>
                </v-list-item-action>
                <v-list-item-avatar>
                  <v-img :src="user.photo"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>
                    {{user.name}}
                    <span class="badge badge-info">{{user.type}}</span>
                  </v-list-item-title>
                  <v-list-item-subtitle class="contact-group">
                    <div><i class="las la-envelope"></i> {{user.email}}</div>
                    <div><i class="las la-phone"></i> {{user.phone}}</div>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </template>
            </v-list-item>
          </v-list-item-group>
        </v-card-text>
        <v-card-actions class="text-right">
          <v-btn color="blue darken-1" text @click="travellerDialog = false">
            Cancel
          </v-btn>
          <v-btn color="primary" @click="travellerDialog = false">
            Confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
  <script src="assets/js/moment-with-locales.min.js"></script>
  <script src="assets/js/vue-number-input.min.js"></script>
  <script src="assets/js/jquery.sticky.js"></script>
  <script src="assets/js/imask.min.js"></script>
  <script src="assets/js/creditCardForm.js"></script>
  
  <script>
    $(document).ready(function () {
      $(".back-btn").click(function() {
        window.location = "flightReview.html";
      });
      $("#tripSummary").sticky({ topSpacing: 135 });
      $('.dropdown').hover(function(event){
        event.preventDefault();
        var dropdown = $(this).closest(".dropdown");
        $(dropdown).toggleClass("open");
      });
    });

    new Vue({
      el: '#app-2',
      vuetify: new Vuetify(),
      data () {
        return {
          needTravelInsurance: null,
          e1: 1,
          e2: 1,
          rating: 3,
          termsCheckbox: false,
          mealDialog: false,
          travellerDialog: false,
          seatSelectionRadio: null,
          mealSelectionRadio: null,
          seatSelectRadios: null,
          preferenceTab: 0,
          servicesTab: 0,
          ffChip: true,
          salutation: ["Mr", "Ms"],
          nationality: ["Saudi", "India", "USA", "UK", "France"],
          countryCode: ["UAE(971)", "India(91)"],
          mealPreference: ["AVML-ASIAN VEGETARIAN MEAL", "BBML-INFANT/BABY FOOD", "BLML-BLAND MEAL"],
          seatPreference: ["Window", "Aisle", "Exit Row", "Front of the Plane", "Back of the Plane"],
          mealCount: [0],
          mealsList: [{
            name: "Barbaresca Pasta",
            ingredients: "Spinach ravioli with combination sauce, broccoli, zucchini.",
            price: 36,
            type:"non-veg",
            mealCount: 0
          }, {
            name: "Sprouts Salad",
            ingredients: "Tomato, cucumber, peppers, olives, onion, feta, iceberg lettuce.",
            price: 38,
            mealCount: 0,
            type:"non-veg",
          }, {
            name: "Asian Veg Hindu Meal",
            ingredients: "Contains vegetables, fresh fruits and dairy products.",
            price: 24,
            mealCount: 0,
            type:"veg",
          }],
          selectedTravellers: [],
          travellers:[{
            type: "Self",
            name: "Johan Doe",
            photo: "https://iqonic.design/themes/booksto/html/images/user/08.jpg",
            email: "johandoe@gmail.com",
            phone: "+ 91 - 9497797822"
          }, {
            type: "Wife",
            name: "Mark Enderess",
            photo: "https://iqonic.design/themes/booksto/html/images/user/04.jpg",
            email: "markenderess@gmail.com",
            phone: "+ 91 - 9497797822"
          }, {
            type: "Others",
            name: "Lynn Guini",
            photo: "https://iqonic.design/themes/booksto/html/images/user/05.jpg",
            email: "lynnguini@gmail.com",
            phone: "+ 91 - 9497797822"
          }],
          isLoggedIn: false,
          travellerOption: true
        }
      },
      methods: {
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        guestLogin() {
          this.e1 = 2;
          this.isLoggedIn = false;
        },
        loginAction() {
          this.e1 = 2;
          this.travellerDialog = true;
          this.travellerOption = true;
          this.isLoggedIn = true;
        },
        chooseTraveller() {
          this.travellerDialog = true;
          this.travellerOption = false;
          this.selectedTravellers = [];
        }
      }
    })
    
  </script>
  </body>
</html>
