<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ART</title>
    <link rel="shortcut icon" href="./assets/logoart.gif" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
   
    
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Roboto:300" />
    
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/css/ion.rangeSlider.min.css"/>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="assets/css/hotel.css" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />
  
  </head>

  <body>
    <div id="app-2">
    <v-app id="inspire" class="mb-0">
      <div class="header">
        <div class="menu-nav animate__animated animate__slideInDown">
          <div class="top-social-bar">
            <ul class="social_icon" style="display: flex; padding: 0px;">
              <li>
                <a>
                  <img src="assets/social/Facebook.svg" class="facebook" />
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/social/twitter.svg" class="twitter" />
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/social/LinkedIn.svg" class="linkedin" />
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/social/Youtube.svg" class="youtube" />
                </a>
              </li>
              <li>
                <a>
                  <img src="assets/social/Instagram.svg" class="instagram" />
                </a>
              </li>
            </ul>
            <div class="ticker-container">
              <div id="carousel-example-vertical" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <p class="ticker-headline">
                      <a href="#">
                        <strong>ART NEWS FLASH</strong> BUSINESS CONTINUITY PROMISE (COVID-19 SCENARIO) WORLD WIDE SUPPORT
                      </a>
                    </p>
                  </div>
                  <div class="item">
                    <p class="ticker-headline">
                      <a href="#">
                        <strong>Article Headline 2</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus eu odio fermentum tempus. Aliquam erat volutpat. Etiam arcu urna, lacinia sed dapibus sed, molestie ac mi.
                      </a>
                    </p>
                  </div>
                  <div class="item">
                    <p class="ticker-headline">
                      <a href="#">
                        <strong>Article Headline 3</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus eu odio fermentum tempus. Aliquam erat volutpat. Etiam arcu urna, lacinia sed dapibus sed, molestie ac mi.
                      </a>
                    </p>
                  </div>
                  <div class="item">
                    <p class="ticker-headline">
                      <a href="#">
                        <strong>Article Headline 4</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus eu odio fermentum tempus. Aliquam erat volutpat. Etiam arcu urna, lacinia sed dapibus sed, molestie ac mi.
                      </a>
                    </p>
                  </div>
                  <div class="item">
                    <p class="ticker-headline">
                      <a href="#">
                        <strong>Article Headline 5</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus eu odio fermentum tempus. Aliquam erat volutpat. Etiam arcu urna, lacinia sed dapibus sed, molestie ac mi.
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="contact-details" style="text-align: end; padding-top: 5px;">
              <i class="glyphicon glyphicon-phone-alt"style="
                  color: #d91718;
                  padding-right: 5px;
                  font-size: 13px;
                  padding-top: -2px;
                  cursor: pointer;
                "></i>
              <span style="font-size: 14px; font-weight: 500;">800278</span>
              <span class="user">
                <i class="fa fa-user-circle"></i>
                <span style="font-size: 13px;">My Account</span>
              </span>
            </div>
          </div>
          <div class="top-menu-bar">
            <div class="navigation-bar col-lg-10">
              <ul>
                <li>
                  <a data-search-widget="#flightSearch" data-toggle="tab" href="#flightSearch">
                    <i class="las la-plane ni"></i> <span>Flight</span>
                  </a>
                </li>
                <li>
                  <a class="active" data-toggle="tab" data-search-widget="#hotelSearch" href="#hotelSearch"> <i class="las la-bed ni"></i></i><span>Hotel</span></a>
                </li>
                <li>
                  <a> <i class="las la-mountain ni"></i><span>Holidays</span></a>
                </li>
                <li>
                  <a>
                    <i class="las la-map-marked-alt ni"></i><span>UAE Attractions</span></a
                  >
                </li>
                <li>
                  <a data-search-widget="#insuranceSearch" data-toggle="tab" href="#insuranceSearch">
                    <i class="las la-hand-holding-heart ni"></i> <span>Insurance</span></a>
                </li>
                <li>
                  <a> <i class="las la-tags ni"></i><span>Special Offers</span></a>
                </li>
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="las la-comments ni"></i><span>Our Services</span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Corporate Travel</a></li>
                    <li><a href="#">MICE Services</a></li>
                    <li><a href="#">Wellness</a></li>
                    <li><a href="#">Air Miles</a></li>
                  </ul>
                </li>
                <li>
                  <a> <i class="las la-comments ni"></i><span>Blogs</span></a>
                </li>
                <li style="width: auto;">
                  <a
                    ><b><i class="las la-search ni"></i></b
                    ><span>Search</span></a
                  >
                </li>
              </ul>
            </div>
            <div class="logo col-lg-2" style="text-align: center;">
              <div style="text-align: end;">
                <img src="./assets/logoart.gif" alt="Alogo" />
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="main_container no-home">
        <!-- breadcrumb start -->
      <section class="breadcrumb-section flight-sec pt-0 hotel-breadcrumb">
        <img
          src="assets/hotel/bg-bread.jpg"
          class="bg-img img-fluid blur-up lazyload"
          alt=""
        />
        <div class="flight-details text-center">
          <p class="route flight-count">39 <small>Hotels available in</small> MUSCAT, OMAN</p>
          <!-- <p class="route">MUSCAT, OMAN</p> -->
          <p class="other-details">Check In : 30/09/2020 | Check Out : 02/10/2020, No of Guest (s) : 1,  No of Room (s) : 1</p>
          <!-- <p class="other-details">No of Guest (s) : 1,  No of Room (s) : 1</p> -->
          <button type="submit" class="btn btn-lg refine-search custom-search-btn">
            Refine Search
          </button>
        </div>
      </section>

      <div class="container flight-container hotel-container">
        <div class="flight-search modify-search">
            <div class="row">
              <div class="textleft row">
                <div
                  class="col-xs-12 col-sm-6 col-md-4 textleft"
                >
                  <div class="form-group">
                    <span class="size10"><b>Destination City</b></span>
                    <input
                      type="text"
                      id="from_place"
                      required=""
                      name="from_place"
                      class="form-control ui-autocomplete-input valid"
                      placeholder="Destination City"
                      autofocus=""
                    />
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 textleft">
                  <div class="form-group v-datepicker">
                    <v-menu
                      ref="checkInMenu"
                      v-model="checkInMenu"
                      :close-on-content-click="false"
                      :return-value.sync="checkInDate"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="checkInDate"
                          label="Check In"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="checkInDate" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="checkInMenu = false">Cancel</v-btn>
                        <v-btn text color="primary" @click="$refs.checkInMenu.save(checkInDate)">OK</v-btn>
                      </v-date-picker>
                    </v-menu>
                  </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-2 textleft">
                  <div class="form-group v-datepicker">
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="date"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="date"
                          label="Check Out"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="date" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                        <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                      </v-date-picker>
                    </v-menu>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 textleft">
                  <div class="form-group">
                    <span class="size10"><b>Residence Country</b></span>
                    <select class="form-control">
                      <option value="">-Country of residence-</option>
                      <option value="UAE">United Arab Emirates</option>
                      <option value="India">India</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 textleft">
                  <div class="form-group">
                    <span class="size10"><b>Nationality</b></span>
                    <select class="form-control">
                      <option value="">-Nationality-</option>
                      <option value="UAE">United Arab Emirates</option>
                      <option value="India">India</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="textleft row">
                <div class="col-md-2">
                  <div class="form-group">
                    <span class="size10"><b>Room</b></span>
                    <select class="form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="adult-row">
                    <div class="form-group">
                      <span class="size10"><b>Room</b></span>
                      <input type="number" readonly class="form-control" value="1" />
                    </div>
                    <div class="form-group">
                      <span class="size10"><b>Adults</b></span>
                      <select class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <span class="size10"><b>Child</b></span>
                      <select class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <span class="size10"><b>Child Age</b></span>
                      <select class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3 tex-right">
                  <button type="submit" class="btn btn-lg btn-block custom-search-btn">
                    SEARCH
                  </button>
                </div>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 pr-0">
              <div class="filter-sec" id="filterSideBar">
                  <h4 class="filter-header">Filter</h4>
                  <div class="form-group">
                    <label>Sort</label>
                    <select class="form-control">
                      <option value="1">Price (Lowest)</option>
                      <option>Price (Highest)</option>
                      <option>Hotel Name (A - Z)</option>
                      <option>Hotel Name (Z - A)</option>
                    </select>
                  </div>
                <hr class="filter-separator"/>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                          Price
                          <a role="button" class="collapse-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                              <i class="las la-chevron-circle-down"></i>
                          </a>
                          </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                          <input type="text" class="js-range-slider" name="my_range" value="" />
                          </div>
                      </div>
                  </div>
                  <hr class="filter-separator"/>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          Star Rating
                        <a role="button" class="collapse-btn" data-toggle="collapse" data-parent=".panel" href="#StopsFilter">
                            <i class="las la-chevron-circle-down"></i>
                        </a>
                        </h4>
                    </div>
                    <div id="StopsFilter" class="panel-collapse collapse in">
                      <div class="checkbox-container star-rating" v-for="rate in ratingFilter">
                        <label class="checkbox-label">
                            <input type="checkbox" name="stopFilter1" id="stopFilter1" />
                            <span class="checkbox-custom rectangular"></span>
                            <span class="input-title">
                              <v-rating v-model="rate.rate" readonly background-color="orange lighten-3" color="orange" small></v-rating>
                            </span>
                            <a href="#" class="only-link">Only</a>
                        </label>
                        <div class="stop-count">{{rate.count}}</div>
                        <div class="stop-min-fare">AED {{rate.price}}</div>
                      </div>
                    </div>
                  </div>
                  <hr class="filter-separator"/>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          Amenities
                          <a role="button" class="collapse-btn" data-toggle="collapse" data-parent=".panel" href="#AirlineFilter">
                              <i class="las la-chevron-circle-down"></i>
                          </a>
                        </h4>
                    </div>
                    <div id="AirlineFilter" class="panel-collapse collapse in">
                      <div class="checkbox-container" v-for="amenity in AmenitiesFilter">
                        <label class="checkbox-label">
                            <input type="checkbox" />
                            <span class="checkbox-custom rectangular"></span>
                            <span class="input-title">{{amenity.name}}</span>
                            <a href="#" class="only-link">Only</a>
                        </label>
                        <div class="stop-count">{{amenity.count}}</div>
                        <div class="stop-min-fare">AED {{amenity.price}}</div>
                      </div>
                    </div>
                  </div>
                  <hr class="filter-separator"/>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          Hotel Name
                          <a role="button" class="collapse-btn" data-toggle="collapse" data-parent=".panel" href="#FareTypeFilter">
                              <i class="las la-chevron-circle-down"></i>
                          </a>
                        </h4>
                    </div>
                    <div id="FareTypeFilter" class="panel-collapse collapse in">
                      <div class="input-group mt-2 mb-3">
                        <input type="text" class="form-control" placeholder="Search hotel...">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Go!</button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <hr class="filter-separator"/>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          Property Type
                          <a role="button" class="collapse-btn" data-toggle="collapse" data-parent=".panel" href="#BaggageFilter">
                              <i class="las la-chevron-circle-down"></i>
                          </a>
                        </h4>
                    </div>
                    <div id="BaggageFilter" class="panel-collapse collapse in">
                      <div class="checkbox-container" v-for="property in PropertyFilter">
                        <label class="checkbox-label">
                            <input type="checkbox" />
                            <span class="checkbox-custom rectangular"></span>
                            <span class="input-title">{{property.name}}</span>
                            <a href="#" class="only-link">Only</a>
                        </label>
                        <div class="stop-count">{{property.count}}</div>
                        <div class="stop-min-fare">AED {{property.price}}</div>
                      </div>
                    </div>
                  </div>
                  <hr class="filter-separator"/>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          Area
                          <a role="button" class="collapse-btn" data-toggle="collapse" data-parent=".panel" href="#AreaFilter">
                              <i class="las la-chevron-circle-down"></i>
                          </a>
                        </h4>
                    </div>
                    <div id="AreaFilter" class="panel-collapse collapse in">
                      <div class="checkbox-container" v-for="area in AreaFilter">
                        <label class="checkbox-label">
                            <input type="checkbox" />
                            <span class="checkbox-custom rectangular"></span>
                            <span class="input-title">{{area.name}}</span>
                            <a href="#" class="only-link">Only</a>
                        </label>
                        <div class="stop-count">{{area.count}}</div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-9 pr-0">
              <!-- <div class="row">
                <div class="col-md-4 col-md-offset-8">
                  <div class="form-group mb-4">
                    <select class="form-control">
                      <option value="">Sort</option>
                      <option value="1">Price (Lowest)</option>
                      <option>Price (Highest)</option>
                      <option>Duration (Shortest)</option>
                      <option>Duration (Longest)</option>
                      <option>Departure (Earliest)</option>
                      <option>Departure (Latest)</option>
                      <option>Arrival (Earliest)</option>
                      <option>Arrival (Latest)</option>
                    </select>
                  </div>
                </div>
              </div> -->
              
              <div class="special-section grid-box">
                <div class="special-box" v-for="hotel in hotelList">
                  <div class="special-img">
                      <a href="#" class="bg-size blur-up lazyloaded">
                        <img :src="hotel.pic" class="img-fluid blur-up lazyload bg-img" />
                      </a>
                      <div class="hotel-detail-btns">
                        <v-tooltip top :color="tooltipColor">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              color="white"
                              dark
                              fab x-small
                              v-bind="attrs"
                              v-on="on"
                            ><i class="las la-hotel"></i></v-btn>
                          </template>
                          <div class="hotel-tooltip">
                            <h5>Hotel Amenities</h5>
                            <p v-for="amenity in hotel.amenities" class="mb-0">{{amenity}}</p>
                          </div>
                        </v-tooltip>
                        <v-tooltip top :color="tooltipColor">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              color="white"
                              dark
                              fab x-small
                              v-bind="attrs"
                              v-on="on"
                            ><i class="las la-plane-departure"></i></v-btn>
                          </template>
                          <div class="hotel-tooltip">
                            <h5>Near By Transportation</h5>
                            <p v-for="transport in hotel.nearbyTransport" class="mb-0">{{transport}}</p>
                          </div>
                        </v-tooltip>
                        <v-tooltip top :color="tooltipColor">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              color="white"
                              dark
                              fab x-small
                              v-bind="attrs"
                              v-on="on"
                            ><i class="las la-umbrella-beach"></i></v-btn>
                          </template>
                          <div class="hotel-tooltip">
                            <h5>Near By Attractions</h5>
                            <p v-for="attract in hotel.nearbyAttraction" class="mb-0">{{attract}}</p>
                          </div>
                        </v-tooltip>
                        <v-tooltip top :color="tooltipColor">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              color="white"
                              dark
                              fab x-small
                              v-bind="attrs"
                              v-on="on"
                              @click="hotelGalleryDialog = true"
                            ><i class="las la-photo-video"></i></v-btn>
                          </template>
                          <span>Gallery</span>
                        </v-tooltip>
                        <v-tooltip top :color="tooltipColor">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              color="white"
                              dark
                              fab x-small
                              v-bind="attrs"
                              v-on="on"
                            ><i class="las la-map-marked-alt"></i></v-btn>
                          </template>
                          <span>Location Map</span>
                        </v-tooltip>
                      </div>
                  </div>
                  <div class="special-content">
                      <a href="hotel-single-7.html">
                        <h5>{{hotel.name}}</h5>
                      </a>
                      <p>
                        <span><i class="fas fa-map-marker-alt"></i> {{hotel.address}}</span>
                      </p>
                      <div class="bottom-section">
                        <div class="rating">
                          <v-rating
                            v-model="hotel.star"
                            background-color="orange lighten-3"
                            color="orange"
                            medium
                          ></v-rating>
                        </div>
                        <div class="price">
                            <del>$1300</del>
                            <span>$1245</span>
                        </div>
                      </div>
                      <div class="hotel-btn-container">
                        <v-btn class="mr-2" outlined color="error" @click="hoteDetailDialog = true; hotelDetailText = hotel.details">Hotel Details</v-btn>
                        <v-btn color="error" @click="hotelBooking()">Book Now</v-btn>
                      </div>
                      <!-- <button type="button" class="btn btn-danger btn-block btn-solid color1">
                        Book Now
                      </button> -->
                  </div>
                 
                  <div class="label-offer" v-if="hotel.deal">{{hotel.deal}}</div>
                </div>
              </div>
            </div>
        </div>
      </div>


    </div>

    <div class="footer" id="page_footer">
      <div class="container-fluid" style="background-color: #2195c3;">
        <div class="row" style="padding-top: 18px; padding-bottom: 24px;">
          <div class="col-md-3" style="margin-right: 49px; padding-top: 24px;">
            <span style="color: white; margin-left: 73px;"
              >Subscribe Email Container</span
            >
          </div>
          <div class="col-lg-1" style="margin-top: 15px;">
            <span class="mail-icon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
          </div>
          <div id="input_container" class="col-lg-4">
            <input
              type="text"
              id="input"
              value=""
              placeholder="Your Email Address"
            /><span class="dividerContainer"></span>
            <i class="fa fa-paper-plane" aria-hidden="true" id="input_img"></i>
          </div>
          <div class="socialmediaContainer col-lg-3">
            <span class="socialicons">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>
            <span class="socialicons">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </span>
            <span class="socialicons">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
            <span class="socialicons">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="footer-top" style="background-color: #2195c3;">
        <div
          class="footerLinkContainer container"
          style="background-color: #2195c3;"
        >
          <div class="row">
            <div class="links-content col-lg-4" style="padding-left: 66px;">
              <h3 class="footerHeading">Help</h3>

              <div class="fontstyle">Contact Us</div>
              <br />
            </div>
            <div class="links-content col-lg-4" style="padding-left: 66px;">
              <h3 class="footerHeading">General</h3>
              <div class="fontstyle">About Us</div>
              <div class="fontstyle">Our Services</div>
              <div class="fontstyle">Privacy Policy</div>
              <div class="fontstyle">Terms & Conditions</div>
            </div>
            <div class="links-content col-lg-4" style="padding-left: 66px;">
              <h3 class="footerHeading">Subscribe</h3>
              <p class="fontstyle">
                Subscribe to receive great holiday deals, inspirational content
                and exclusive offers!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom" style="background-color: #2195c3;">
        <div class="container" style="max-width: 100%;">
          <div class="row">
            <div class="col-12">
              <div class="bottom-inner">
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-12">
                    <!-- Copyright -->
                    <div class="copyright">
                      <p
                        class="fontstyle"
                        style="color: #ffffff; font-size: 12px;"
                      >
                        Copyright Ⓒ 2020 by
                        <a href="#" style="color: #ffffff; font-size: 12px;"
                          >ART Travels.</a
                        >
                      </p>
                    </div>
                    <!--/ End Copyright -->
                  </div>
                  <div class="col-lg-3 col-md-3 col-12 text-right">
                    <p
                      class="fontstyle"
                      style="color: #ffffff; font-size: 12px;"
                    >
                      Powered By Convergent Technology
                      <a href="#" class="fontstyle" style="color: white;"></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-dialog class="hotel-dialog" v-model="hoteDetailDialog" scrollable max-width="70%">
      <v-card>
        <v-card-title>Hotel Details - Al Maha International</v-card-title>
        <v-card-text style="max-height: 300px;">
          {{hotelDetailText}}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="hoteDetailDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog class="hotel-dialog" v-model="hotelGalleryDialog" scrollable max-width="70%">
      <v-card>
        <v-card-title>Gallery - Al Maha International</v-card-title>
          <v-card-text>
            <v-carousel
              cycle
              hide-delimiter-background
              show-arrows-on-hover
            >
              <v-carousel-item
              v-for="(item,i) in slides"
              :key="i"
              :src="'assets/hotel/gallery/'+item+'.jpg'"
              ></v-carousel-item>
            </v-carousel>
          </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="hotelGalleryDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</div>
    
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
  <script src="assets/js/moment-with-locales.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="assets/js/jquery.sticky.js"></script>
  <script src="assets/js/flightResult.js"></script>
</html>
