<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>ART</title>
  <link rel="shortcut icon" href="./assets/logoart.gif"  />
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="styles.css">
      
      <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
</head>

<body>
   
    <div class="header ">



  <div class="menu-nav ">
    <div class=" col-lg-12" style="padding-top: 6px;background-color: #f9f9f9;">
      <ul class="social_icon col-lg-6" style="    display: flex;    padding: 0px;">
        <li>
          <a>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a >
            <i  class="fa fa-twitter"></i>
          </a>
        </li>
        <li><a >
          <i class="fa fa-linkedin"></i>
        </a>
        </li>
        <li>
          <a ><i class="fa fa-youtube"></i> </a>
        </li>
        <li>
          <a><i class="fa fa-instagram"></i> </a>
        </li>
        
      </ul>
      <div class="contact-details col-lg-6" style="text-align: end;">
	  <i class="glyphicon glyphicon-phone-alt" style="color: #d91718;padding-right:5px;font-size: 13px;padding-top: -2px;cursor: pointer;">
    
    <span style="font-size: 16px;
    font-weight: 800;">800278</span></i>
        <span class="user">
          <i class="fa fa-user-circle" >
          
          <span style="font-size: 13px;">My Account</span></i>
          </span>
      
      
        
      </div>
    </div>
     <div class="col-lg-12">
  <div  class="navigation-bar  col-lg-9" style="padding-top:10px;">
  
    
    <ul>
      <!-- <li><i class="fa fa-facebook"></i></li> -->
        <li style="width: auto;"><a ><b><i class="fa fa-search ni" aria-hidden="true"></i></b><span>Search</span></a>  </li>
        <li ><a >  <i class="fa fa-comments  ni"></i><span>Blogs</span></a>  </li>
      <li ><a >  <i class="fa fa-tags  ni"></i><span>Special Offers</span></a>  </li>
      <li><a >  <i class="fa fa-users ni"></i>
          <span>Insurance</span></a></li>
      <li><a >  <i class="fa fa-magnet  ni"></i><span>UAE Attractions</span></a></li>
      <li ><a >  <i class="fa fa-music ni"></i><span>Holidays</span></a></li>
      <li ><a >   <i class="fa fa-bed ni"></i><span>Hotel</span></a></li>
      <li><a >
        <i class="fa fa-plane ni"></i> <span>Flight</span></a></li>
    </ul>
  </div>
  <div class="logo col-lg-3" style="text-align: center;">
    <div  style="text-align: end;">
    <img src="./assets/logoart.gif" alt="no" style="padding-top: 10px;">
    <!-- <a href="tel:+800 278" style="color:#fff;font-size: 11px;">
      <span class="glyphicon glyphicon-phone-alt"></span>&nbsp; 800 278
    </a> -->
  
 
  </div>
  <!-- <i class="glyphicon glyphicon-phone-alt" style="color: #d91718;padding-left: 55px; font-size: 13px;padding-top: 10px; cursor: pointer;"> -->
    
    <!-- <span style="font-size: 16px; -->
    <!-- font-weight: 800;">800278</span></i> -->
 
  
</div>

</div>
  
  </div>

  </div>
  
  <div class="main_container" >
    <div class="container-fluid" style="margin-top: 145px;padding:0px">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
          <div class="carousel-inner">
            <div class="item active">
                <img src="./assets/banner/Rail Europe Banner.jpg" alt="New york" style="width:100%;">
              </div>
            <div class="item ">
              <img src="./assets/banner/Concolidated Flight Repatriation Banner.png" alt="Los Angeles" style="width:100%;">
            </div>
      
            <div class="item">
              <img src="./assets/banner/GFOB_Dreaming_Al-Rostamani_03.jpg" alt="Chicago" style="width:100%;">
            </div>
          
           
         
          <!-- .....searcharea.strat.............. -->
          <div class="search-area " style="margin-bottom:0; padding:0;">
            <div class="visible-xs" style="margin-top:30px;"></div>
            <div class="" style="margin-bottom:0; margin-top: 10px;">
                <div class=" search-criteria col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="hidden-xs hidden-sm active"><a   data-toggle="tab" href="#home" class="search_icon" ><i class="fa fa-plane"></i></a>  </li>
                        <li class="hidden-xs hidden-sm"><a  data-toggle="tab" href="#menu1" style="cursor:pointer;font-size: 14px;padding: 10px 12px 10px 12px;"><i class="fa fa-bed"></i></a></li>
                        <li class="hidden-xs hidden-sm"><a  data-toggle="tab" href="#menu2" class="search_icon" ><i class="fa fa-users" style="    font-size: 13px;"></i></a></li>
                        <li class="hidden-xs hidden-sm"><a  data-toggle="tab" href="#menu3" class="search_icon" ><i class="fa fa-magnet" style="font-size: 14px;"></i></a></li>

                    </ul>
                </div>
                <!-- ..................................... -->
                <div class="tab-content col-xs-2 col-sm-2 col-md-2 col-lg-10">
                  <div id="home" class="tab-pane fadein active">
                   
                   <form  id="searchForm">
                    <div class="row" style="display: flex;">
                      <div class=" radio">	
                          <label> 
                              <input  type="radio"  value="2" checked=""> Round Trip 
                          </label>
                          &nbsp;
                          <label> 
                              <input  type="radio"  value="1"> One way
                          </label>
                          &nbsp;
                          <label> 
                              <input type="radio"  value="3" >Multi-City
                          </label>
                      </div>
                  </div>
                  <div  class="row"> 
                    <div class=" textleft" style="padding: 0px;">
                        <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 textleft">
                        <div class="form-group">
                            <span class=" size10"><b>Flying from</b></span>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="text" id="from_place" required="" name="from_place"  class="form-control ui-autocomplete-input valid" placeholder="Flying from" autofocus="" ><label for="from_place" class="error" style="display: inline-block;"></label>
                        </div>	
                        </div>	
                        <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 textleft" id="flyingto">
                            <div class="form-group">
                                <span class=" size10"><b>Flying To</b></span>
                                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="text" required=""  class="form-control ui-autocomplete-input valid" placeholder="Flying to" autofocus="" ><label  class="error" style="display: inline-block;"></label>
                            </div>	
                            </div>															
                    </div>
                  </div>
                    <div class="textleft row" style="padding-right: 10%;">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 textleft"  >
                        <div class="form-group">
                            <span class=" size10"><b>When?</b></span>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="date" id="departure" required=""  class="form-control ui-autocomplete-input valid" placeholder="Departure" autofocus="" ><label  class="error" style="display: inline-block;"></label>
                        </div>	
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft passenger">
                      <span class=" size10"><b>Adult</b></span>
                      <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft passenger">
                      <span class=" size10"><b>Child</b></span>
                      <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft passenger">
                      <span class=" size10"><b>Infant</b></span>
                      <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                    </div>
                
                    </div>
                    <div class="textleft row" >
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 textleft"  >
                        <div class="form-group">
                          <span class=" size10"><b>Class</b></span>
                      <select class="form-control mb15 ng-pristine ng-untouched ng-valid" ng-model="searchFlightObjJson.classType" ng-options="classType for classType in classData"><option value="0">Economy</option><option value="1">Business</option><option value="2">First</option></select>
                       </div>	
                  </div>
                  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-4 textleft passenger">
                    <div class="form-group">
                    <span class=" size10"><b>Preferred Airline</b></span>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="text" id="from_place" required="" name="from_place"  class="form-control ui-autocomplete-input valid" placeholder="Preferred airline" autofocus="" ><label for="from_place" class="error" style="display: inline-block;"></label>
                  </div>

                  </div>
                 
                 
              
                  </div>
                  <div class="textleft row" >
                  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 textleft ">
                    <button type="submit" class="btn btn-lg custom-search-btn">
                        SEARCH
                    </button>
                    </div>
                  </div>
                    
                  
                 
                     </form>
                     </div>
                     <div id="menu1" class="tab-pane fade">
                      <form  id="searchForm">		
                        <div  class="row"> 
                          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 textleft" style="padding: 0px;">
                            <div class="form-group">
                                <span class=" size10"><b>Destination City</b></span>
                                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="text" id="from_place" required="" name="from_place"  class="form-control ui-autocomplete-input valid" placeholder="Destination City" autofocus="" ><label for="from_place" class="error" style="display: inline-block;"></label>
                            </div>	
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 textleft" style="padding: 0px;">
                            <div class="form-group">
                                <span class=" size10"><b>Check In</b></span>
                                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="date" id="CheckIn" required=""  class="form-control ui-autocomplete-input valid"  autofocus="" ><label  class="error" style="display: inline-block;"></label>
                            </div>	
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 textleft" id="CheckOut" >
                            <div class="form-group">
                                <span class=" size10"><b>Check Out</b></span>
                                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="date"  class="form-control ui-autocomplete-input valid"  autofocus="" ><label  class="error" style="display: inline-block;"></label>
                            </div>	
                            </div>	
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 textleft" style="padding: 0px;">
                              <div class="form-group">
                                  <span class=" size10"><b>Residence Country</b></span>
                                  <select class="form-control mb15 ng-pristine ng-untouched ng-valid"  ng-options="classType for classType in classData"><option value="0">country1</option><option value="1">country2</option><option value="2">country3</option></select>
                                </div>	
                          </div>
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 textleft" id="CheckOut" >
                              <div class="form-group">
                                  <span class=" size10"><b>Nationality</b></span>
                                  <select class="form-control mb15 ng-pristine ng-untouched ng-valid"  ng-options="classType for classType in classData"><option value="0">nationality2</option><option value="1">nationality2</option><option value="2">nationality3</option></select>
                                </div>	
                              </div>	
                        </div>
                        
                        
                          <div class="row"> 
                                  	
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft  ">
                             
                              <span class=" size10"><b>Room</b></span>
                              <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                            
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft  ">
                             
                              <span class=" size10"><b>Room</b></span>
                             <h5 style="text-align: center;
                             color: white;">1</h5>
                            </div>

                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft ">
                              <span class=" size10"><b>Adult</b></span>
                              <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft ">
                              <span class=" size10"><b>Child</b></span>
                              <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                            </div>                          
                           
                             
                             
                          </div> 
                   
                          <div class="row" style="    padding-top: 20px; ">
                              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 margtop10 mb10">
                                  <button type="submit" class="btn btn-lg custom-search-btn">
                                      SEARCH
                                  </button>
                              </div>
                          </div>
                      </form>
                   
                  </div>
                  <div id="menu2" class="tab-pane fade">
                    <form  id="searchForm">
                      <div class="row" style="display: flex;">
                        <div class=" radio">	
                            <label> 
                                <input  type="radio"  value="2" checked=""> Round Trip 
                            </label>
                            &nbsp;
                            <label> 
                                <input  type="radio"  value="1"> One way
                            </label>
                            &nbsp;
                            <label> 
                                <input type="radio"  value="3" >Multi-City
                            </label>
                        </div>
                    </div>
                    <div  class="row"> 
                      <div class=" textleft" style="padding: 0px;">
                          <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 textleft">
                          <div class="form-group">
                              <span class=" size10"><b>Flying from</b></span>
                              <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="text" id="from_place" required="" name="from_place"  class="form-control ui-autocomplete-input valid" placeholder="Flying from" autofocus="" ><label for="from_place" class="error" style="display: inline-block;"></label>
                          </div>	
                          </div>	
                          <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 textleft" id="flyingto">
                              <div class="form-group">
                                  <span class=" size10"><b>Flying To</b></span>
                                  <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="text" required=""  class="form-control ui-autocomplete-input valid" placeholder="Flying to" autofocus="" ><label  class="error" style="display: inline-block;"></label>
                              </div>	
                              </div>															
                      </div>
                    </div>
                      <div class="textleft row" style="padding-right: 10%;">
                          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 textleft"  >
                          <div class="form-group">
                              <span class=" size10"><b>When?</b></span>
                              <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="date" id="departure" required=""  class="form-control ui-autocomplete-input valid" placeholder="Departure" autofocus="" ><label  class="error" style="display: inline-block;"></label>
                          </div>	
                      </div>
                      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft passenger">
                        <span class=" size10"><b>Adult</b></span>
                        <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                      </div>
                      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft passenger">
                        <span class=" size10"><b>Child</b></span>
                        <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                      </div>
                      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft passenger">
                        <span class=" size10"><b>Infant</b></span>
                        <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                      </div>
                  
                      </div>
                    
                    <div class="textleft row" >
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 textleft ">
                      <button type="submit" class="btn btn-lg custom-search-btn">
                          SEARCH
                      </button>
                      </div>
                    </div>
                      
                    
                   
                       </form>
                  </div>
                  <div id="menu3" class="tab-pane fade">
                    <form  id="searchForm">		
                      <div  class="row"> 
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 textleft">
                          <div class="form-group">
                              <span class=" size10"><b>From</b></span>
                              <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="text" id="from_place" required="" name="from_place"  class="form-control ui-autocomplete-input valid" placeholder="Flying from" autofocus="" ><label for="from_place" class="error" style="display: inline-block;"></label>
                          </div>	
                          </div>	
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 textleft" id="flyingto">
                              <div class="form-group">
                                  <span class=" size10"><b>To</b></span>
                                  <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="text" required=""  class="form-control ui-autocomplete-input valid" placeholder="Flying to" autofocus="" ><label  class="error" style="display: inline-block;"></label>
                              </div>	
                              </div>	
                              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 textleft"  >
                                <div class="form-group">
                                    <span class=" size10"><b>When?</b></span>
                                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="date" id="departure" required=""  class="form-control ui-autocomplete-input valid" placeholder="Departure" autofocus="" ><label  class="error" style="display: inline-block;"></label>
                                </div>	
                            </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 textleft">
                          <div class="form-group">
                              <span class=" size10"><b>Hotel City</b></span>
                              <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="text" placeholder="Enter Hotel City" id="CheckIn" required=""  class="form-control ui-autocomplete-input valid"  autofocus="" ><label  class="error" style="display: inline-block;"></label>
                          </div>	
                      </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 textleft" style="padding: 0px;">
                          <div class="form-group">
                              <span class=" size10"><b>Check In</b></span>
                              <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="date" id="CheckIn" required=""  class="form-control ui-autocomplete-input valid"  autofocus="" ><label  class="error" style="display: inline-block;"></label>
                          </div>	
                      </div>
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 textleft" id="CheckOut" >
                          <div class="form-group">
                              <span class=" size10"><b>Check Out</b></span>
                              <span role="status" aria-live="polite" class="ui-helper-hidden-accessible ng-pristine ng-untouched ng-valid ng-valid-required"></span><input type="date"  class="form-control ui-autocomplete-input valid"  autofocus="" ><label  class="error" style="display: inline-block;"></label>
                          </div>	
                          </div>	
                        
                     
                      </div>
                      
                      
                        <div class="row"> 
                                  
                          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft  ">
                           
                            <span class=" size10"><b>Room</b></span>
                            <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                          
                          </div>
                          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft  ">
                           
                            <span class=" size10"><b>Room</b></span>
                           <h5 style="text-align: center;
                           color: white;">1</h5>
                          </div>

                          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft ">
                            <span class=" size10"><b>Adult</b></span>
                            <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                          </div>
                          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 textleft ">
                            <span class=" size10"><b>Child</b></span>
                            <select class="form-control input-sm mb15 ng-pristine ng-valid valid ng-touched" ng-model="searchFlightObjJson.adtCnt" ng-change="fAdultChange(searchFlightObjJson.adtCnt)" ng-options="adtCnt for adtCnt in fAdultCount"><option value="0">1</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">9</option></select>
                          </div>                          
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 textleft"  >
                            <div class="form-group">
                              <span class=" size10"><b>Class</b></span>
                          <select class="form-control mb15 ng-pristine ng-untouched ng-valid" ng-model="searchFlightObjJson.classType" ng-options="classType for classType in classData"><option value="0">Economy</option><option value="1">Business</option><option value="2">First</option></select>
                           </div>	
                      </div>
                           
                           
                        </div> 
                 
                        <div class="row" style="    padding-top: 20px; ">
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 margtop10 mb10">
                                <button type="submit" class="btn btn-lg custom-search-btn">
                                    SEARCH
                                </button>
                            </div>
                        </div>
                    </form>
                   
                  </div>
                </div> 
                     </div>
              
                
            </div>
            </div>
      
        </div>
      </div>
  </div>
<div class="Packages container-fluid" style="margin-top:20px;">
    <h3 style="padding-left:15px;    padding-bottom: 10px;">Special Packages</h3>
    <div class="title col-lg-3">
        <!-- <div class="heading">
        <h4>Winter Packages</h4>
        </div> -->
        <div class="hvr">
    <div class="hvrbox ">
        <img src="./assets/slider/Globus Escape Thumbnail.jpg" alt="Mountains" class="hvrbox-layer_bottom" >
        <div class="hvrbox-layer_top hvrbox-layer_scale-rotate">
            <div class="hvrbox-text">Globus presents a combination of the world's best itineraries for you to travel during winter for less!</div>
        </div>
    </div>
    <div class="package_footer">
        <h4 >Winter Packages</h4>
        <h5>255 <b>AED</b> </h5>
    </div>
</div>
</div>
<div class="title col-lg-3">
    <!-- <div class="heading">
    <h4>Globus Journeys</h4>
    </div> -->
    <div class="hvr">
    <div class="hvrbox ">
        <img src="./assets/slider/escapes-by-globus-cover.jpg" alt="Mountains" class="hvrbox-layer_bottom">
        <div class="hvrbox-layer_top hvrbox-layer_scale-rotate">
            <div class="hvrbox-text"> Attractive prices, memorable events, and enchanting tours: just pack your bags and go!</div>
        </div>
    </div>
    <div class="package_footer">
        <h4 >Globus Journeys</h4>
        <h5>255 <b>AED</b> </h5>
    </div>
</div>
</div>
<div class="title col-lg-3">
    <!-- <div class="heading">
    <h4>Cosmos Vacations</h4>
    </div> -->
    <div class="hvr">
    <div class="hvrbox ">
        <img src="./assets/slider/Cosmos_Holidays_PL.jpg" alt="Mountains" class="hvrbox-layer_bottom">
        <div class="hvrbox-layer_top hvrbox-layer_scale-rotate">
            <div class="hvrbox-text">Cosmos designs experiences for Travelers with a capital T: people who want to get out there to do what locals do!</div>
        </div>
    </div>
    <div class="package_footer">
        <h4 >Cosmos Vacations</h4>
        <h5>255 <b>AED</b> </h5>
    </div>
    </div>
</div>
<div class="title col-lg-3">
    <!-- <div class="heading">
    <h4>Thomas Cook Holidays</h4>
    </div> -->
    <div class="hvr">
    <div class="hvrbox ">
        <img src="./assets/slider/tci-holidays.jpg" alt="Mountains" class="hvrbox-layer_bottom">
        <div class="hvrbox-layer_top hvrbox-layer_scale-rotate">
            <div class="hvrbox-text">Book a holiday with Thomas Cook and get an incredible trip away with a huge saving into the bargain.</div>
        </div>
    </div>
    <div class="package_footer">
        <h4 >Thomas Cook Holidays</h4>
        <h5>255 <b>AED</b> </h5>
    </div>
</div>
    </div>
    <div class="title col-lg-3" style="padding-top: 25px;">
        <!-- <div class="heading">
        <h4>Special Holiday Packages</h4>
        </div> -->
        <div class="hvr">
    <div class="hvrbox ">
        <img src="./assets/slider/Georgia-fixed_departure_tumbnail.jpg" alt="Mountains" class="hvrbox-layer_bottom" >
        <div class="hvrbox-layer_top hvrbox-layer_scale-rotate">
            <div class="hvrbox-text">Book your exciting holiday adventure & enjoy our Special Holiday packages.</div>
        </div>
    </div>
    <div class="package_footer">
        <h4 >Special Holiday Packages</h4>
        <h5>255 <b>AED</b> </h5>
    </div>
    </div>
</div>
<div class="title col-lg-3" style="padding-top: 25px;">
    <!-- <div class="heading">
    <h4>Cruises</h4>
    </div> -->
    <div class="hvr">
    <div class="hvrbox ">
        <img src="./assets/slider/Cruise Thumbnail.png" alt="Mountains" class="hvrbox-layer_bottom">
        <div class="hvrbox-layer_top hvrbox-layer_scale-rotate">
            <div class="hvrbox-text">Discover the all-inclusive pleasures of a cruise vacation and sail away on the vacation of your live.</div>
        </div>
    </div>
    <div class="package_footer">
        <h4 >Cruises</h4>
        <h5>255 <b>AED</b> </h5>
    </div>
    </div>
</div>
<div class="title col-lg-3" style="padding-top: 25px;">
    <!-- <div class="heading">
    <h4>Unique Itineraries</h4>
    </div> -->
    <div class="hvr">
    <div class="hvrbox ">
        <img src="./assets/slider/ui-cover.jpg" alt="Mountains" class="hvrbox-layer_bottom">
        <div class="hvrbox-layer_top hvrbox-layer_scale-rotate">
            <div class="hvrbox-text">Patagonia, Botswana, Hawaii, Indochina... See more of great destinations with ART Unique Itineraries.</div>
        </div>
    </div>
    <div class="package_footer">
        <h4 >Unique Itineraries</h4>
        <h5>255 <b>AED</b> </h5>
    </div>
    </div>
</div>
<div class="title col-lg-3" style="padding-top: 25px;">
    <!-- <div class="heading">
    <h4>UAE Staycations</h4>
    </div> -->
    <div class="hvr">
    <div class="hvrbox ">
        <img src="./assets/slider/Activities_in_UAE_PL.jpg" alt="Mountains" class="hvrbox-layer_bottom">
        <div class="hvrbox-layer_top hvrbox-layer_scale-rotate">
            <div class="hvrbox-text">An exciting alchemy of ancient traditions and driving futuristic vision: welcome to the<b>United Arab Emirates!</b></div>
        </div>
    </div>
    <div class="package_footer">
        <h4>UAE Staycations</h4>
        <h5>255 <b>AED</b> </h5>
    </div>
    </div>
    </div>

</div>



  <div class="slider ">
    
     <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container-fluid">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Services</h3>
                            <div class="owl-carousel">
                                <div class="item"> 
                                    <div class="card_head" style="    text-align: -webkit-center;">
                                       <img src="./assets/slider/Rail_Europe_Logo.png" alt="image" style="width: auto;" />  
                                    </div>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                          <div class="flip-card-front">
                                            <img src="./assets/slider/Rail_Europe_PL.jpg" alt="Avatar" style="width:300px;height:300px;">
                                          </div>
                                          <div class="flip-card-back">
                                            <p>Access fares, schedules and maps of all trains and book with the #1 distributor of rail tickets.</p> 
                                          </div>
                                        </div>
                                      </div> </div>
                                <div class="item"> 
                                    <div class="card_head" style="    text-align: -webkit-center;">
                                       <img src="./assets/slider/Globus_Logo.png" alt="image" style="width: auto;" />  
                                    </div>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                          <div class="flip-card-front">
                                            <img src="./assets/slider/Globus_PL.jpg" alt="Avatar" style="width:300px;height:300px;">
                                          </div>
                                          <div class="flip-card-back">
                                            <p>Attractive prices, memorable events, and enchanting tours: just pack your bags and go!</p> 
                                          </div>
                                        </div>
                                      </div> </div>
                                      <div class="item"> 
                                        <div class="card_head" style="    text-align: -webkit-center;">
                                           <img src="./assets/slider/Monograms_Logo.png" alt="image" style="width: auto;" />  
                                        </div>
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                              <div class="flip-card-front">
                                                <img src="./assets/slider/Monograms_PL.jpg" alt="Avatar" style="width:300px;height:300px;">
                                              </div>
                                              <div class="flip-card-back">
                                                <p>Monograms allows you the chance to discover new places independently, in your own style.</p> 
                                              </div>
                                            </div>
                                          </div> </div>
                                          <div class="item"> 
                                            <div class="card_head" style="    text-align: -webkit-center;">
                                               <img src="./assets/slider/Avalon_Logo.png" alt="image" style="width: auto;" />  
                                            </div>
                                            <div class="flip-card">
                                                <div class="flip-card-inner">
                                                  <div class="flip-card-front">
                                                    <img src="./assets/slider/Avalon_PL.jpg" alt="Avatar" style="width:300px;height:300px;">
                                                  </div>
                                                  <div class="flip-card-back">
                                                    <p>With Avalon Waterways, you get to choose the river cruise that reveals the very best of Europe,</p> 
                                                  </div>
                                                </div>
                                              </div> </div>
                                          <div class="item"> 
                                            <div class="card_head" style="    text-align: -webkit-center;">
                                               <img src="./assets/slider/interhome_logo_1.jpg" alt="image" style="width: auto;" />  
                                            </div>
                                            <div class="flip-card">
                                                <div class="flip-card-inner">
                                                  <div class="flip-card-front">
                                                    <img src="./assets/slider/interhome_tab.jpg" alt="Avatar" style="width:300px;height:300px;">
                                                  </div>
                                                  <div class="flip-card-back">
                                                    <p>Feel at home away from home with Interhome holiday houses and apartments.</p> 
                                                  </div>
                                                </div>
                                              </div> </div>
                                              <div class="item"> 
                                                <div class="card_head" style="    text-align: -webkit-center;">
                                                   <img src="./assets/slider/Rail_Europe_Logo.png" alt="image" style="width: auto;" />  
                                                </div>
                                                <div class="flip-card">
                                                    <div class="flip-card-inner">
                                                      <div class="flip-card-front">
                                                        <img src="./assets/slider/Rail_Europe_PL.jpg" alt="Avatar" style="width:300px;height:300px;">
                                                      </div>
                                                      <div class="flip-card-back">
                                                        <p>Access fares, schedules and maps of all trains and book with the #1 distributor of rail tickets.</p> 
                                                      </div>
                                                    </div>
                                                  </div> </div>
                                            <div class="item"> 
                                                <div class="card_head" style="    text-align: -webkit-center;">
                                                   <img src="./assets/slider/Globus_Logo.png" alt="image" style="width: auto;" />  
                                                </div>
                                                <div class="flip-card">
                                                    <div class="flip-card-inner">
                                                      <div class="flip-card-front">
                                                        <img src="./assets/slider/Globus_PL.jpg" alt="Avatar" style="width:300px;height:300px;">
                                                      </div>
                                                      <div class="flip-card-back">
                                                        <p>Attractive prices, memorable events, and enchanting tours: just pack your bags and go!</p> 
                                                      </div>
                                                    </div>
                                                  </div> </div>
                                                  <div class="item"> 
                                                    <div class="card_head" style="    text-align: -webkit-center;">
                                                       <img src="./assets/slider/Monograms_Logo.png" alt="image" style="width: auto;" />  
                                                    </div>
                                                    <div class="flip-card">
                                                        <div class="flip-card-inner">
                                                          <div class="flip-card-front">
                                                            <img src="./assets/slider/Monograms_PL.jpg" alt="Avatar" style="width:300px;height:300px;">
                                                          </div>
                                                          <div class="flip-card-back">
                                                            <p>Monograms allows you the chance to discover new places independently, in your own style.</p> 
                                                          </div>
                                                        </div>
                                                      </div> </div>
                                                      <div class="item"> 
                                                        <div class="card_head" style="    text-align: -webkit-center;">
                                                           <img src="./assets/slider/Avalon_Logo.png" alt="image" style="width: auto;" />  
                                                        </div>
                                                        <div class="flip-card">
                                                            <div class="flip-card-inner">
                                                              <div class="flip-card-front">
                                                                <img src="./assets/slider/Avalon_PL.jpg" alt="Avatar" style="width:300px;height:300px;">
                                                              </div>
                                                              <div class="flip-card-back">
                                                                <p>With Avalon Waterways, you get to choose the river cruise that reveals the very best of Europe,</p> 
                                                              </div>
                                                            </div>
                                                          </div> </div>
                                                      <div class="item"> 
                                                        <div class="card_head" style="    text-align: -webkit-center;">
                                                           <img src="./assets/slider/interhome_logo_1.jpg" alt="image" style="width: auto;" />  
                                                        </div>
                                                        <div class="flip-card">
                                                            <div class="flip-card-inner">
                                                              <div class="flip-card-front">
                                                                <img src="./assets/slider/interhome_tab.jpg" alt="Avatar" style="width:300px;height:300px;">
                                                              </div>
                                                              <div class="flip-card-back">
                                                                <p>Feel at home away from home with Interhome holiday houses and apartments.</p> 
                                                              </div>
                                                            </div>
                                                          </div> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div> 
  
 <div class="footer">
  <div class="container-fluid" style="background-color: #022d59;">
    <div class=" row" style="padding-top: 18px;    padding-bottom: 24px;">
      <div class="col-md-3" style="margin-right: 49px;">
        <span style="color:white;    margin-left: 73px;">Subscribe Email Container</span>
      </div>
      <div class="col-lg-1" style="    margin-top: 15px;">
        <span class="mail-icon">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </span>
      </div>
      <div id="input_container" class="col-lg-4">
        <input type="text" id="input" value="" placeholder="Your Email Address"><span class="dividerContainer"></span>
        <i class="fa fa-paper-plane" aria-hidden="true" id="input_img"></i>
      </div>
      <div class="socialmediaContainer col-lg-3">
        <span class="socialicons">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </span>
        <span class="socialicons">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </span>
        <span class="socialicons">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </span>
        <span class="socialicons">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  
  </div>
  <div class="footer-top">
      
			
    <div class="footerLinkContainer row" style="    background-color: black;">
      <div class="imageContent col-lg-3">
        
          <img  src="./assets/logoart.gif" style="    margin-left: 73px;"> 
       
      </div>
      <div class=" links-content col-lg-3" style="padding-left: 66px;">
      
          
            <span class="fontstyle">Flights</span><br>
        
        
            <span class="fontstyle">Hotels</span><br>
      
        
            <span class="fontstyle">Holidays</span><br>
          
    
            <span class="fontstyle">UAE Attractions</span><br>
      
          
            <span class="fontstyle">UAE Visa</span><br>
    
        
            <span class="fontstyle">Worlwide Visa</span><br>
          
      
      </div>
      <div class=" links-content col-lg-3" style="padding-left: 66px;">
      
          
            <span class="fontstyle">About Us</span><br>
        
          
            <span class="fontstyle">Contact Us</span><br>
        
        
            <span class="fontstyle">privacy-policy</span><br>
        
        
            <span class="fontstyle">Our Services</span><br>
        
      
            <span class="fontstyle">Terms and Conditions</span><br>
          
        
      
      </div>
      <div class=" links-content col-lg-3">
        <li class="menulistContainer">
          <span class="fontstyle">Agent</span>
        </li>
        <li class="menulistContainer">
          <span class="fontstyle">Customer</span>
        </li>
      
      
      </div>
    </div>
      </div>
      <div class="footer-bottom" style="    background-color: black;">
        <div class="container" style="max-width:100%">
            <div class="row">
                <div class="col-12">
                    <div class="bottom-inner">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-12">
                                <!-- Copyright -->
                                <div class="copyright">
                                    <p class="fontstyle" style="color: #8bb1dc;font-size:12px">Copyright Ⓒ 2020 by <a href="#" class="fontstyle" style="color: #8bb1dc;font-size:12px">ART Travels.</a></p>
                                </div>
                                <!--/ End Copyright -->
                            </div>
                            <div class="col-lg-3 col-md-3 col-12 text-right">
              
              <p class="fontstyle" style="color: #8bb1dc;font-size:12px">Powered By Convergent Technology <a href="#" class="fontstyle" style="color: white;"></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</body>
<script>
   
    $(document).ready(function() {

$(".owl-carousel").owlCarousel({

autoPlay: 2000,
items : 4,
itemsDesktop : [1199,3],
itemsDesktopSmall : [979,3],
center: true,
nav:true,
loop:true,
responsive: {
600: {
items: 4
}
}

});

});


</script>

</html>