<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ART</title>
    <link rel="shortcut icon" href="./assets/logoart.gif" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" href="assets/css/ion.rangeSlider.min.css"/>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="assets/css/profile.css" />
  
  </head>

  <body>
    <div id="app-2">
    <v-app id="inspire" class="mb-0">
    <div class="header">
      <div class="menu-nav animate__animated animate__slideInDown">
        <div class="top-social-bar">
          <ul class="social_icon col-lg-6" style="display: flex; padding: 0px;">
            <li>
              <a>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a>
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a>
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a><i class="fa fa-youtube"></i> </a>
            </li>
            <li>
              <a><i class="fa fa-instagram"></i> </a>
            </li>
          </ul>
          <div
            class="contact-details col-lg-6"
            style="text-align: end; padding-top: 5px;"
          >
            <i
              class="glyphicon glyphicon-phone-alt"
              style="
                color: #d91718;
                padding-right: 5px;
                font-size: 13px;
                padding-top: -2px;
                cursor: pointer;
              "
            >
            </i>
            <span style="font-size: 14px; font-weight: 500;">800278</span>
            <span class="user">
              <i class="fa fa-user-circle"></i>
              <span style="font-size: 13px;">My Account</span>
            </span>
          </div>
        </div>
        <div class="top-menu-bar">
          <div class="navigation-bar col-lg-10">
            <ul style="display: flex; padding-left: 0px;">
              <li>
                <a> <i class="las la-plane ni"></i> <span>Flight</span></a>
              </li>
              <li>
                <a> <i class="las la-bed ni"></i></i><span>Hotel</span></a>
              </li>
              <li>
                <a> <i class="las la-mountain ni"></i><span>Holidays</span></a>
              </li>
              <li>
                <a>
                  <i class="las la-map-marked-alt ni"></i><span>UAE Attractions</span></a
                >
              </li>
              <li>
                <a> <i class="las la-hand-holding-heart ni"></i> <span>Insurance</span></a>
              </li>
              <li>
                <a> <i class="las la-tags ni"></i><span>Special Offers</span></a>
              </li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="las la-comments ni"></i><span>Our Services</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Corporate Travel</a></li>
                  <li><a href="#">MICE Services</a></li>
                  <li><a href="#">Wellness</a></li>
                  <li><a href="#">Air Miles</a></li>
                </ul>
              </li>
              <li>
                <a> <i class="las la-comments ni"></i><span>Blogs</span></a>
              </li>
              <li style="width: auto;">
                <a
                  ><b><i class="las la-search ni"></i></b
                  ><span>Search</span></a
                >
              </li>
            </ul>
          </div>
          <div class="logo col-lg-2" style="text-align: center;">
            <div style="text-align: end;">
              <img
                src="./assets/logoart.gif"
                alt="no"
              />
              <!-- <a href="tel:+800 278" style="color:#fff;font-size: 11px;">
      <span class="glyphicon glyphicon-phone-alt"></span>&nbsp; 800 278
    </a> -->
            </div>
            <!-- <i class="glyphicon glyphicon-phone-alt" style="color: #d91718;padding-left: 55px; font-size: 13px;padding-top: 10px; cursor: pointer;"> -->

            <!-- <span style="font-size: 16px; -->
            <!-- font-weight: 800;">800278</span></i> -->
          </div>
        </div>
      </div>
    </div>

    <div class="main_container no-home">
      <section class="breadcrumb-section flightreview-sec pt-0">
        <img
          src="assets/banner/banner1.jpg"
          class="bg-img img-fluid blur-up lazyload"
          alt=""
        />
        <div class="flight-details text-center">
          <!-- <p class="route flight-count">Flight Review</p> -->
          <v-avatar :size="70">
            <img
              src="https://iqonic.design/themes/booksto/html/images/user/08.jpg"
              alt="Enderess"
            >
          </v-avatar>
          <p class="route flight-count">Welcome! Johan Doe</p>
          <!-- <p class="other-details">Onward : 18/08/2020 | Return : 22/08/2020</p>           -->
        </div>
        <button class="btn back-btn"><i class="las la-arrow-left"></i> Back</button>
    </section>

      <div class="container flight-container mb-4">
        
        <v-card class="user-profile">
          <v-toolbar flat color="#2195C3" dark>
            <v-toolbar-title>My Profile</v-toolbar-title>
          </v-toolbar>
          <v-tabs vertical>
            <v-tab>
              <i class="las la-suitcase-rolling"></i>
              Booking
            </v-tab>
            <v-tab>
              <i class="las la-user-friends"></i>
              Travellers
            </v-tab>
            <v-tab>
              <i class="las la-user-circle"></i>
              Profile
            </v-tab>
            <v-tab>
              <i class="las la-key"></i>
              Change Password
            </v-tab>
            <v-tab>
              <i class="las la-power-off"></i>
              Log out
            </v-tab>
      
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <div class="dashboard-box">
                    <v-card>
                      <v-tabs v-model="bookTab">
                        <v-tab>My Transactions</v-tab>
                        <v-tab>My Bookings</v-tab>
                      </v-tabs>
                  
                      <v-tabs-items v-model="bookTab">
                        <v-tab-item>
                          <v-card flat>
                            <v-card-text>
                              <div class="dashboard-detail">
                                <div class="booking-box" v-for="item in todos">
                                  <div class="date-box">
                                      <!-- <span class="day">tue</span> -->
                                      <span class="date">{{item.travelDate}}</span>
                                      <span class="month">{{item.travelYear}}</span>
                                  </div>
                                  <div class="detail-middle">
                                      <div class="media">
                                          <div class="icon">
                                            <i class="las la-fighter-jet"></i>
                                          </div>
                                          <div class="detail-media-body">
                                            <p class="mb-2">Booking No.: <span>ART001</span></p>
                                            <p>Supplier No.: <span>SGHDD66</span></p>
                                          </div>
                                          <div class="detail-media-body">
                                              <h6 class="media-heading">DXB - CDG - DXB</h6>
                                              <p>amount paid: <span>AED {{item.price}}</span></p>
                                          </div>
                                          <div class="detail-media-body">
                                              <p class="mb-2">Name: <span>Johan Doe</span></p>
                                              <p>NI No.: <span>{{item.orderId}}</span></p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="detail-last">
                                      <span class="badge badge-info">{{item.status}}</span>
                                      <a href="#" class="cancel-booking"><i class="las la-times-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel Booking"></i></a>
                                  </div>
                                </div>
                              </div>
                            </v-card-text>
                          </v-card>
                        </v-tab-item>
                        <v-tab-item>
                          <v-card flat>
                            <v-card-text>
                              <div class="dashboard-detail">
                                <div class="booking-box" v-for="item in todos">
                                  <div class="date-box">
                                      <!-- <span class="day">tue</span> -->
                                      <span class="date">{{item.travelDate}}</span>
                                      <span class="month">{{item.travelYear}}</span>
                                  </div>
                                  <div class="detail-middle">
                                      <div class="media">
                                          <div class="icon">
                                            <i class="las la-fighter-jet"></i>
                                          </div>
                                          <div class="detail-media-body">
                                            <p class="mb-2">Booking No.: <span>ART001</span></p>
                                            <p>Supplier No.: <span>SGHDD66</span></p>
                                          </div>
                                          <div class="detail-media-body">
                                              <h6 class="media-heading">DXB - CDG - DXB</h6>
                                              <p>amount paid: <span>AED {{item.price}}</span></p>
                                          </div>
                                          <div class="detail-media-body">
                                              <p class="mb-2">Name: <span>Johan Doe</span></p>
                                              <p>NI No.: <span>{{item.orderId}}</span></p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="detail-last">
                                      <span class="badge badge-info">{{item.status}}</span>
                                      <a href="#" class="cancel-booking"><i class="las la-times-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel Booking"></i></a>
                                  </div>
                                </div>
                              </div>
                            </v-card-text>
                          </v-card>
                        </v-tab-item>
                      </v-tabs-items>
                    </v-card>
                  </div>
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <div class="traveller-card-title">
                    <h4 class="dashboard-title mb-3">Travellers</h4>
                    <v-btn rounded color="primary" small outlined @click="travellerDialog = true"><i class="las la-plus"></i> Add Traveller</v-btn>
                  </div>
                  
                  <div class="traveller-list">
                    <v-card max-width="32%" class="user-card" v-for="user in travellers">
                      <div class="ribbon_3 popular"><span>{{user.type}}</span></div>
                      <v-img class="white--text align-end" height="90px" src="https://cdn.vuetifyjs.com/images/cards/docks.jpg">
                        <v-card-title>{{user.name}}</v-card-title>
                      </v-img>
                      <v-avatar :size="70">
                        <img :src="user.photo" alt="John" />
                      </v-avatar>

                      <v-card-text class="info-text text--primary">
                        <div><i class="las la-envelope"></i> {{user.email}}</div>
                        <div><i class="las la-phone"></i> {{user.phone}}</div>
                      </v-card-text>

                      <v-card-actions>
                        <v-btn color="primary" text>View Details</v-btn>
                        <v-btn color="primary" text>Edit</v-btn>
                        <v-btn color="error" text>Remove</v-btn>
                      </v-card-actions>
                    </v-card>
                  </div>
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <v-card-text class="traveller-form">
                  <h4 class="dashboard-title mb-3">Profile Details</h4>
                  <traveller-form :tab-state="preferenceTab2"></traveller-form>
                </v-card-text>
                <v-card-actions class="btn-right">
                  <v-spacer></v-spacer><v-btn color="primary">Update Profile</v-btn>
                </v-card-actions>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <v-card-text class="traveller-form mb-5">
                  <h4 class="dashboard-title mb-5">Reset Password</h4>
                  <div class="container-fluid px-0 pb-5">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>User Name</label>
                          <input type="text" class="form-control" readonly value="ajiththooprath@gmail.com" />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>New Password</label>
                          <input type="password" class="form-control" />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Confirm Password</label>
                          <input type="password" class="form-control" />
                        </div>
                      </div>
                    </div>
                  </div>
                </v-card-text>
                <v-card-actions class="btn-right">
                  <v-spacer></v-spacer><v-btn color="primary">Reset Password</v-btn>
                </v-card-actions>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
      
      </div>


    </div>

    <div class="footer">
      <div class="container-fluid" style="background-color: #2195c3;">
        <div class="row" style="padding-top: 18px; padding-bottom: 24px;">
          <div class="col-md-3" style="margin-right: 49px; padding-top: 24px;">
            <span style="color: white; margin-left: 73px;"
              >Subscribe Email Container</span
            >
          </div>
          <div class="col-lg-1" style="margin-top: 15px;">
            <span class="mail-icon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
          </div>
          <div id="input_container" class="col-lg-4">
            <input
              type="text"
              id="input"
              value=""
              placeholder="Your Email Address"
            /><span class="dividerContainer"></span>
            <i class="fa fa-paper-plane" aria-hidden="true" id="input_img"></i>
          </div>
          <div class="socialmediaContainer col-lg-3">
            <span class="socialicons">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>
            <span class="socialicons">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </span>
            <span class="socialicons">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
            <span class="socialicons">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="footer-top" style="background-color: #2195c3;">
        <div
          class="footerLinkContainer container"
          style="background-color: #2195c3;"
        >
          <div class="row">
            <div class="links-content col-lg-4" style="padding-left: 66px;">
              <h3 class="footerHeading">Help</h3>

              <div class="fontstyle">Contact Us</div>
              <br />
            </div>
            <div class="links-content col-lg-4" style="padding-left: 66px;">
              <h3 class="footerHeading">General</h3>
              <div class="fontstyle">About Us</div>
              <div class="fontstyle">Our Services</div>
              <div class="fontstyle">Privacy Policy</div>
              <div class="fontstyle">Terms & Conditions</div>
            </div>
            <div class="links-content col-lg-4" style="padding-left: 66px;">
              <h3 class="footerHeading">Subscribe</h3>
              <p class="fontstyle">
                Subscribe to receive great holiday deals, inspirational content
                and exclusive offers!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom" style="background-color: #2195c3;">
        <div class="container" style="max-width: 100%;">
          <div class="row">
            <div class="col-12">
              <div class="bottom-inner">
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-12">
                    <!-- Copyright -->
                    <div class="copyright">
                      <p
                        class="fontstyle"
                        style="color: #ffffff; font-size: 12px;"
                      >
                        Copyright Ⓒ 2020 by
                        <a href="#" style="color: #ffffff; font-size: 12px;"
                          >ART Travels.</a
                        >
                      </p>
                    </div>
                    <!--/ End Copyright -->
                  </div>
                  <div class="col-lg-3 col-md-3 col-12 text-right">
                    <p
                      class="fontstyle"
                      style="color: #ffffff; font-size: 12px;"
                    >
                      Powered By Convergent Technology
                      <a href="#" class="fontstyle" style="color: white;"></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <v-dialog v-model="travellerDialog" persistent max-width="80%">
      <v-card>
        <v-card-title>
          <span class="headline">Traveller Details</span>
        </v-card-title>
        <v-card-text class="traveller-form">
          <traveller-form :tab-state="preferenceTab"></traveller-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="travellerDialog = false">Close</v-btn>
          <v-btn color="primary" @click="travellerDialog = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
  <script src="assets/js/moment-with-locales.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  

  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
      $('.dropdown').hover(function(event){
        event.preventDefault();
        var dropdown = $(this).closest(".dropdown");
        $(dropdown).toggleClass("open");
      });
      $(".owl-carousel").owlCarousel({
        autoPlay: 2000,
        items: 4,
        itemsDesktop: [1199, 3],
        itemsDesktopSmall: [979, 3],
        center: true,
        nav: true,
        loop: true,
        responsive: {
          600: {
            items: 4,
          },
        },
      });
    });
    
    Vue.component("traveller-form", {
      template: `
      <div class="container-fluid px-0">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Salutation</label>
              <select class="form-control">
                <option value="">Select</option>
                <option v-for="(item, index) in salutation">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Given Name</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Sur Name</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Relationship</label>
              <select class="form-control">
                <option value="">Select</option>
                <option v-for="(item, index) in relation">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Date of Birth</label>
              <input type="date" class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Country Code</label>
              <select class="form-control">
                <option value="">Select</option>
                <option v-for="(item, index) in countryCode">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Contact No</label>
              <input type="text" class="form-control" placeholder="55775577" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" />
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="form-group">
              <label>Passport No.</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Passport Expiry</label>
              <input type="date" class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Nationality</label>
              <select class="form-control">
                <option value="">Select</option>
                <option v-for="(item, index) in nationality">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>National ID</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Airmiles</label>
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row pt-1">
          <div class="col-md-12">
            <v-card class="mx-1">
              <v-tabs v-model="preferenceTab" slider-color="#ff5252" background-color="#2195c3" dark>
                <v-tab>Frequent Flyer</v-tab>
                <v-tab>Meal Preference</v-tab>
                <v-tab>Seat Preference</v-tab>
              </v-tabs>

              <v-tabs-items v-model="preferenceTab">
                <v-tab-item>
                  <v-card flat>
                    <div class="container-fluid py-3">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="form-group">
                            <label>Frequent Flyer Airline</label>
                            <input type="text" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="form-group">
                            <label>Frequent Flyer No.</label>
                            <input type="text" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-2 pt-2">
                          <v-btn color="error" outlined class="mt-3" dark>Add</v-btn>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <v-chip
                            v-if="ffChip"
                            close
                            color="teal"
                            text-color="white"
                          >
                            Emirates Airlines
                          </v-chip>
                          <v-chip
                            v-if="ffChip"
                            close
                            color="teal"
                            text-color="white"
                          >
                            Air Arabia
                          </v-chip>
                        </div>
                      </div>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat>
                    <div class="container-fluid py-3">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Outbound Flight</label>
                            <select class="form-control">
                              <option value="">Select Meal Preference</option>
                              <option v-for="item in mealPreference">{{item}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Return Flight</label>
                            <select class="form-control">
                              <option value="">Select Meal Preference</option>
                              <option v-for="item in mealPreference">{{item}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat>
                    <div class="container-fluid py-3">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Outbound Flight</label>
                            <select class="form-control">
                              <option value="">Select Seat Preference</option>
                              <option v-for="item in seatPreference">{{item}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Return Flight</label>
                            <select class="form-control">
                              <option value="">Select Seat Preference</option>
                              <option v-for="item in seatPreference">{{item}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-card>
                </v-tab-item>
              </v-tabs-items>
            </v-card>
          </div>
        </div>
      </div>`,
      props: ['tabState'],
      data() {
        return {
          ffChip: true,
          salutation: ["Mr", "Ms"],
          nationality: ["Saudi", "India", "USA", "UK", "France"],
          countryCode: ["UAE(971)", "India(91)"],
          relation: ["Self", "Wife", "Husband"],
          preferenceTab: this.tabState,
          mealPreference: ["AVML-ASIAN VEGETARIAN MEAL", "BBML-INFANT/BABY FOOD", "BLML-BLAND MEAL"],
          seatPreference: ["Window", "Aisle", "Exit Row", "Front of the Plane", "Back of the Plane"],
        }
      }
    });

    var app2 = new Vue({
      el: '#app-2',
      vuetify: new Vuetify(),
      data: {
        todos: [
          { travelDate: '20 Oct', travelYear:2020, from:"Dubai", to: "Paris", price: 1589, status: "Pending", orderId:"aSdsadf5s1f5", orderDate: "14 Aug, 2020" },
          { travelDate: '20 Oct', travelYear:2020, from:"Dubai", to: "Paris", price: 1589, status: "Pending", orderId:"aSdsadf5s1f5", orderDate: "14 Aug, 2020" },
          { travelDate: '20 Oct', travelYear:2020, from:"Dubai", to: "Paris", price: 1589, status: "Pending", orderId:"aSdsadf5s1f5", orderDate: "14 Aug, 2020" },
        ],
        travellers:[{
          type: "Self",
          name: "Johan Doe",
          photo: "https://iqonic.design/themes/booksto/html/images/user/08.jpg",
          email: "johandoe@gmail.com",
          phone: "+ 91 - 9497797822"
        }, {
          type: "Wife",
          name: "Mark Enderess",
          photo: "https://iqonic.design/themes/booksto/html/images/user/04.jpg",
          email: "markenderess@gmail.com",
          phone: "+ 91 - 9497797822"
        }, {
          type: "Others",
          name: "Lynn Guini",
          photo: "https://iqonic.design/themes/booksto/html/images/user/05.jpg",
          email: "lynnguini@gmail.com",
          phone: "+ 91 - 9497797822"
        }],
        travellerDialog: false,
        bookTab: null,
        preferenceTab: null,
        preferenceTab2: null,
        baggageDetailsDialog: false,
        fareDetailsDialog: false,
        fareRulesDialog: false,        
      },
      methods: {
        bookNow: function(event) {
          window.location = "flightItenary.html";
        }
      }
    })
  </script>
</html>
